.button-container {
  position: relative;
  text-align: center;
}

.button-text {
  position: absolute;
  top: -1px;
  left: 1px;
}

.button-background {
  position: absolute;
  top: 2px;
  left: 2px;
}

.button-outline {
  outline: 1px solid #4d4d4d;
  position: absolute;
  top: -2px;
  left: -2px;
}
