.brand-container {
    width: 15%;
    display: inline-block;
    text-align: left;
}

.nav-container {
    text-align: right;
    width: 80%;
    display: inline-block;
}

.page-title {
    display: inline-block;
    padding-top: 30px;
    width: 125px;
    line-height: 40px;
    text-align: center;
}

.donate-button {
    background-image: url("../images/donate-button.png");
    padding: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

a {
    text-decoration: none;
}

a:visited, a:hover, a:active {
    color: #4D4D4D;
    font-weight: bolder;
}