.nav-menu {
}

.brand-container {
    width: 15%;
    display: inline-block;
    text-align: left;
}

.nav-container {
    text-align: right;
    width: 80%;
    display: inline-block;
}

.page-title {
    display: inline-block;
    padding: 50px;
}

.donate-button {
    background-image: url("../images/donate-button.png");
    padding: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}